<!-- Footer Section Start -->
<footer class="footer" id="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="footer-info-area">
                    <div class="footer-logo">
                        <a href="#" class="logo-link">
                            <img src="{{'assets/images/artboard.png'|theme}}" alt="">
                        </a>
                    </div>
                    <div class="text">
                        <p>Membawa kebutuhan bisnis anda kedalam tingkat yang lebih kuat melalui teknologi informasi dan komunikasi diera yang penuh kemudahan
                </p>
                    </div>
                </div>
                <div class="fotter-social-links">
                    <ul>
                        <li>
                            <a href="#" class="instagram">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="linkedin">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="google-plus">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dribbble">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-bg text-center">
        <p>
            Copyright © 2023. All rights reserved by
        <a href="index.html">Startx Digital Indonesia</a>
        </p>
    </div>
</footer>
<!-- Footer Section End -->