<section class="pricing" id="pricing">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
        <div class="section-title">
            <h2 class="title">Produk Kami</h2>
            <p>
            Prepared is me marianne pleasure likewise debating. Wonder an unable except better stairs do ye admire. His secure called esteem praise.
            </p>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <div class="product-slider">
            <div class="item">
            <div class="single-product">
                <div class="img">
                <img src="{{'assets/images/w1.png'|theme}}" alt="">
                
                <div class="links">
                    <a href="#" class="mybtn1"><span>Buy Now</span> </a>
                    </div>
                </div>
                <div class="content">
                <ul class="stars">
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star-half"></i>
                    </li>
                </ul>
                <div class="price">
                    <p class="new-price">
                    $135
                    </p>
                    <small>
                    <del>
                        $193
                    </del>
                    </small>
                </div>
                
                <h4 class="title">
                    Prolab Blue
                    </h4>
                </div>
            </div>
            </div>
            <div class="item">
            <div class="single-product">
                <div class="img">
                <img src="{{'assets/images/w2.png'|theme}}" alt="">
                
                <div class="links">
                    <a href="#" class="mybtn1"><span>Buy Now</span> </a>
                    </div>
                </div>
                <div class="content">
                <ul class="stars">
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star-half"></i>
                    </li>
                </ul>
                <div class="price">
                    <p class="new-price">
                    $135
                    </p>
                    <small>
                    <del>
                        $193
                    </del>
                    </small>
                </div>
                
                <h4 class="title">
                    Prolab Blue
                    </h4>
                </div>
            </div>
            </div>
            <div class="item">
            <div class="single-product">
                <div class="img">
                <img src="{{'assets/images/w3.png'|theme}}" alt="">
                
                <div class="links">
                    <a href="#" class="mybtn1"><span>Buy Now</span> </a>
                    </div>
                </div>
                <div class="content">
                <ul class="stars">
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star-half"></i>
                    </li>
                </ul>
                <div class="price">
                    <p class="new-price">
                    $135
                    </p>
                    <small>
                    <del>
                        $193
                    </del>
                    </small>
                </div>
                
                <h4 class="title">
                    Prolab Blue
                    </h4>
                </div>
            </div>
            </div>
            <div class="item">
            <div class="single-product">
                <div class="img">
                <img src="{{'assets/images/w4.png'|theme}}" alt="">
                
                <div class="links">
                    <a href="#" class="mybtn1"><span>Buy Now</span> </a>
                    </div>
                </div>
                <div class="content">
                <ul class="stars">
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star"></i>
                    </li>
                    <li>
                    <i class="fas fa-star-half"></i>
                    </li>
                </ul>
                <div class="price">
                    <p class="new-price">
                    $135
                    </p>
                    <small>
                    <del>
                        $193
                    </del>
                    </small>
                </div>
                
                <h4 class="title">
                    Prolab Blue
                    </h4>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>